<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Current Astronauts in Space</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let person of persons" data-test="person-list-item" (click)="selected.emit(person)">
        <h3 matLine>{{person.name}}</h3>
        <p matLine> Spacecraft: {{person.craft}}</p>
        
        <button mat-icon-button (click)="personViewed.emit(person.name); $event.stopImmediatePropagation()">
          <mat-icon *ngIf="!readonly">chevron_left</mat-icon>
        </button>


        <button mat-icon-button (click)="deleted.emit(person); $event.stopImmediatePropagation()">
          <mat-icon *ngIf="!readonly">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
